// _base.scss
// ==============
body {
  background: white;
  font-family: $bodyFont;
  font-size: 1.1em;
}
 
#content {
  color: $pink;
  font-size: 2em;
}
 
.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  @include clearfix;
}
 
#{headings()} {
  font-family: $headFont;
  font-size: 3em;
}
 
h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: $plumberBlack;
 
  @media (max-width: 700px) {
    font-size: 2.2em;
  }
}
 
h2 {
  font-size: 1.5em;
  color: darken($plumberGray, 20%);
}
 
p {
  font-size: 1.3em;
  line-height: 1.5em;
    color: darken($plumberGray, 20%);
  margin-bottom: 20px;
    margin-top: 15px;
}
 
section {
  padding: 0px 0;
}
 
.artgroup {
    @include clearfix;
} //artgroup

.wrapper {
  background: darkgreen;
}