// _base.scss
// ==============
body {
  background: white;
  font-family: $bodyFont;
  font-size: 1.1em;
}
 
#content {
  color: $pink;
  font-size: 2em;
}
 
.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  @include clearfix;
}
 
#{headings()} {
  font-family: $headFont;
  font-size: 3em;
}
 
h1 {
  font-size: 3.5em;
  
 
  @media (max-width: 700px) {
    font-size: 2.2em;
  }
}
 
h2 {
  font-size: 1.5em;
  color: darken($plumberGray, 20%);
}
 
p {
  font-size: 1.3em;
  line-height: 1.5em;
    color: darken($plumberGray, 20%);
  margin-bottom: 20px;
    margin-top: 15px;
}
 
section {
  padding: 0px 0;
}
 
.artgroup {
    @include clearfix;
} //artgroup

.wrapper {
  background: darkgreen;
}

.headerPic h1 {
  color: lightyellow;
}

// Built for educational purposes
// Self-hosted version works perfect in all browsers
// but for some reason the CodePen version doesn't
// work in Safari 8 for some reason.

$top-bar-starting-height:  40px;
$top-bar-scrolling-height: 0px;

$header-starting-height:  150px;
$header-scrolling-height: 60px;

$primary-accent-color:    #253B80;
$secondary-accent-color:  #179BD7;
$tertiary-accent-color:   #8DED10;

$facebook-brand-color:    #3b5998;
$twitter-brand-color:     #00aced;
$google-plus-brand-color: #dd4b39;
$youtube-brand-color:     #bb0000;
$linkedin-brand-color:    #007bb6;
$yelp-brand-color:        #B4282E;
$pinterest-brand-color:   #cb2027;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.42857142;
}

a, a:focus, a:hover {
  outline: none;
  text-decoration: none;
}

// Header
header {
  width: 100%;
  position: relative;
  z-index: 2;
}

header.fixed-header {
  position: fixed;
  left: 0px;
  z-index: 999;
}

header.fixed-header .head-control {
  transition-property: background-color, box-shadow, line-height, height;
  transition-duration: 0.4s;
}

.head-control {
  font-size: 0px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.head-wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  display: table;
}

// Top Bar
.header-top {
  background-color: darken($secondary-accent-color, 10%);
  height: $top-bar-starting-height;
  color: #fff;
  line-height: $top-bar-starting-height;
}

.head-contact {
  font-size: 13px;
  vertical-align: middle;
  line-height: $top-bar-starting-height;
  display: inline-block;
}

.head-contact-list { margin: 0 -10px; }

.head-contact-item {
  margin: 0px 10px;
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
}

.head-social {
  margin-left: 15px;
  vertical-align: top;
  float: right;
}

.head-social-list { font-size: 0px; }

.head-social-item {
  margin: 0px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.head-social-item a {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  display: block;
  position: relative;
}

.head-social-item i {
  font-size: 18px;
  line-height: 40px;
  position: relative;
  vertical-align: top;
}

.head-social-item a:before {
  width: 100%;
  height: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: height 0.3s ease 0s;
}

.head-social-item.facebook a:before {
  background-color: $facebook-brand-color;
}

.head-social-item.twitter a:before {
  background-color: $twitter-brand-color;
}

.head-social-item.google-plus a:before {
  background-color: $google-plus-brand-color;
}

.head-social-item.youtube a:before {
  background-color: $youtube-brand-color;
}

.head-social-item:hover a:before { height: 100%; }

// Logo & Nav
.header-mid {
  background-color: $primary-accent-color;
  width: 100%;
  line-height: $header-starting-height;
  box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.08);
}

.logo {
  float: left;
  clear: both;
  position: relative;
}

.logo h1 {
  margin: 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  line-height: inherit;
  display: block;
}

nav.primary-nav {
  display: inline-block;
  vertical-align: middle;
}

nav.primary-nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  > li {
    float: left;
    position: relative;
    > a {
      height: 100%;
      margin: 0px;
      padding: 0 20px;
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      display: block;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
    }
    > ul {
      background-color: darken($primary-accent-color, 5%);
      min-width: 200px;
      height: auto;
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: auto;
      left: auto;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      z-index: 9999;
      > li {
        float: none;
        display: block;
        position: relative;
        > a {
          padding: 10px 30px 10px 10px;
          color: #fff;
          font-size: 14px;
          font-weight: inherit;
          text-decoration: none;
          text-align: left;
          white-space: nowrap;
          line-height: 1.428571429;
          transition: all 0.3s ease;
          &:hover {
            background-color: darken($primary-accent-color, 10%);
          }
        }
        > ul {
          min-width: 200px;
          position: absolute;
          display: block;
          top: 0px;
          left: 100%;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          > li {
            float: none;
            display: block;
            position: relative;
          }
        }
      }
    }
  }
}

// Column Subnav Config
nav.primary-nav ul > li[class*="columns"] {
  position: static;

  > ul {
      width: 100%;
      min-width: 200px;
      padding: 15px 0;
      left: 0px;
      right: 0px;
      //Fix for child inline-block elements
      font-size: 0px;
      line-height: 0px;

    > li[class*="column"] {
        padding: 0 15px;
        display: inline-block;
        vertical-align: top;
        position: relative;

      a.column-title {
        background-color: transparent !important;
        font-weight: bold;
        cursor: text;
        border-bottom: 1px solid rgba(255,255,255,0.2);
      }
      > ul {
        position: static;
        box-shadow: none;

        > li a {
          white-space: normal;
        }
      }
    }
  }
}

nav.primary-nav > ul > li > a:after {
  background-color: $secondary-accent-color;
  height: 5px;
  content: "";
  position: absolute;
  left: 0px;
  right: 100%;
  bottom: 0px;
  transition: all 0.3s ease;
}

nav.primary-nav > ul > li:hover > a::after {
  right: 0px;
}

// Column Nav widths
nav.primary-nav ul li[class*="columns"] li.column-2 { width: 50%; }
nav.primary-nav ul li[class*="columns"] li.column-3 { width: 33.3333%; }
nav.primary-nav ul li[class*="columns"] li.column-4 { width: 25%; }
nav.primary-nav ul li[class*="columns"] li.column-5 { width: 20%; }

// Flyout Arrow
.nav-arrow {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  text-align: center;
  position: absolute;
  right: 5px;
  top: 50%;
  display: none;
  line-height: 1.428571429 !important;
}

.nav-arrow:before {
  content: "\f105";
  font-size: 16px !important;
  font-family: fontawesome;
  color: #fff;
}

// Fix flickering issue on page load
nav.primary-nav > ul > li > ul {
  visibility: hidden;
  opacity: 0;
}

// Fade in/out with transitions
nav.primary-nav li:hover > ul  {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s,visibility 0.3s;
}

nav.primary-nav li:not(.has-columns) ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s,visibility 0.3s;
}

nav.primary-nav li:not(.has-columns) ul > li > ul {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s,visibility 0.1s;
}

/* == Sticky Stuff == */

header.sticky .header-top {
  height: $top-bar-scrolling-height;
  line-height: $top-bar-scrolling-height;
}

header.sticky .header-mid,
header.sticky .header-mid .logo h1,
header.sticky .header-mid nav.primary-nav ul {
  line-height: $header-scrolling-height;
  // Below is needed for CodePen to work properly for some reason
  transition-property: background-color, box-shadow, line-height, height;
  transition-duration: 0.4s;
}

header.fixed-header + div.main-content { padding-top: ceil($top-bar-starting-height + $header-starting-height) !important; }

.container {
  padding-left: 0px;
  padding-right: 0px;
}

article.content {
  padding-top: 50px !important;
}