// _variables.scss
// =================
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
 
$beige         : #E3C691;
$darkGreenGold : #8D8862;
$lightGreen    : #C0DC99;
$green         : #507356;
$lightBlue     : #97D5D9;
$desatBlue     : #464B65;
$purple        : #3E2B3D;
$darkPurple    : #3A3248;
$pink          : #CC8E94;
$skin          : #B08B7B;
$plumberBlack  : #001d30;
$plumberTeal   : #0c4d82;
$plumberGray   : #8b7e85;
$white         : rgb(255,255,255);

$primary-accent-color:    #253B80;
$secondary-accent-color:  #179BD7;
$tertiary-accent-color:   #8DED10;

$facebook-brand-color:    #3b5998;
$twitter-brand-color:     #00aced;
$google-plus-brand-color: #dd4b39;
$youtube-brand-color:     #bb0000;
$linkedin-brand-color:    #007bb6;
$yelp-brand-color:        #B4282E;
$pinterest-brand-color:   #cb2027;

$top-bar-starting-height:  40px;
$top-bar-scrolling-height: 0px;

$header-starting-height:  40px;
$header-scrolling-height: 60px;

$headFont : 'Patua One', sans-serif;
$bodyFont : 'Inika', serif;

