@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
/* line 3, ../../../components/sass/_base.scss */
body {
  background: white;
  font-family: "Inika", serif;
  font-size: 1.1em;
}

/* line 9, ../../../components/sass/_base.scss */
#content {
  color: #CC8E94;
  font-size: 2em;
}

/* line 14, ../../../components/sass/_base.scss */
.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
/* line 29, ../../../components/sass/_mixins.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", sans-serif;
  font-size: 3em;
}

/* line 26, ../../../components/sass/_base.scss */
h1 {
  font-size: 3.5em;
}
@media (max-width: 700px) {
  /* line 26, ../../../components/sass/_base.scss */
  h1 {
    font-size: 2.2em;
  }
}

/* line 35, ../../../components/sass/_base.scss */
h2 {
  font-size: 1.5em;
  color: #564d52;
}

/* line 40, ../../../components/sass/_base.scss */
p {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #564d52;
  margin-bottom: 20px;
  margin-top: 15px;
}

/* line 48, ../../../components/sass/_base.scss */
section {
  padding: 0px 0;
}

/* line 29, ../../../components/sass/_mixins.scss */
.artgroup:after {
  content: "";
  display: table;
  clear: both;
}

/* line 56, ../../../components/sass/_base.scss */
.wrapper {
  background: darkgreen;
}

/* line 60, ../../../components/sass/_base.scss */
.headerPic h1 {
  color: lightyellow;
}

/* line 3, ../../../components/sass/_modules.scss */
.city {
  background: url("../images/backgrounds/seattle_skyline.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (min-width: 801px) {
  /* line 3, ../../../components/sass/_modules.scss */
  .city {
    height: 350px;
  }
}
@media (max-width: 800px) {
  /* line 3, ../../../components/sass/_modules.scss */
  .city {
    height: 150px;
  }
}
@media (max-width: 300px) {
  /* line 3, ../../../components/sass/_modules.scss */
  .city {
    height: 100px;
  }
}
/* line 5, ../../../components/sass/_modules.scss */
.city img.logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  max-width: 450px;
  min-width: 250px;
}

/* line 15, ../../../components/sass/_modules.scss */
.main_h {
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 766px) {
  /* line 32, ../../../components/sass/_modules.scss */
  .main_h {
    padding-top: 25px;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;
  }
}
/* line 51, ../../../components/sass/_modules.scss */
.open-nav {
  max-height: 400px !important;
}

/* line 54, ../../../components/sass/_modules.scss */
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

/* line 59, ../../../components/sass/_modules.scss */
.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

/* line 66, ../../../components/sass/_modules.scss */
.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

@media only screen and (max-width: 766px) {
  /* line 78, ../../../components/sass/_modules.scss */
  .logo {
    float: none;
  }
}
@media only screen and (max-width: 766px) {
  /* line 87, ../../../components/sass/_modules.scss */
  nav {
    width: 100%;
  }
}
/* line 91, ../../../components/sass/_modules.scss */
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: center;
}

@media only screen and (max-width: 766px) {
  /* line 98, ../../../components/sass/_modules.scss */
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
/* line 106, ../../../components/sass/_modules.scss */
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

@media only screen and (max-width: 766px) {
  /* line 112, ../../../components/sass/_modules.scss */
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
/* line 118, ../../../components/sass/_modules.scss */
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

/* line 125, ../../../components/sass/_modules.scss */
nav ul a .sec02 {
  color: red;
  text-transform: uppercase;
  font-size: 12px;
}

/* line 131, ../../../components/sass/_modules.scss */
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
  /* line 144, ../../../components/sass/_modules.scss */
  .mobile-toggle {
    display: block;
  }
}
/* line 148, ../../../components/sass/_modules.scss */
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

/* line 157, ../../../components/sass/_modules.scss */
.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

/* line 165, ../../../components/sass/_modules.scss */
* {
  box-sizing: border-box;
}

/* line 169, ../../../components/sass/_modules.scss */
body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

/* line 177, ../../../components/sass/_modules.scss */
a {
  text-decoration: none;
}

/* line 181, ../../../components/sass/_modules.scss */
h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

/* line 188, ../../../components/sass/_modules.scss */
p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

/* line 194, ../../../components/sass/_modules.scss */
.content {
  padding: 50px 2% 250px;
}

/* line 198, ../../../components/sass/_modules.scss */
.hero {
  position: relative;
  background: url(http://www.philippefercha.com/cd/toggle-menu-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

/* line 211, ../../../components/sass/_modules.scss */
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}

/* line 215, ../../../components/sass/_modules.scss */
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

/* line 223, ../../../components/sass/_modules.scss */
.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}

/* line 236, ../../../components/sass/_modules.scss */
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
/* line 285, ../../../components/sass/_modules.scss */
.wrapper .smallheader {
  background: #8D8862;
  font-size: 1em;
}
/* line 291, ../../../components/sass/_modules.scss */
.wrapper .bigheader {
  background: #E3C691;
  padding: 10px 0px;
}
/* line 295, ../../../components/sass/_modules.scss */
.wrapper .bigheader .navcontainer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}
/* line 301, ../../../components/sass/_modules.scss */
.wrapper .bigheader .navcontainer ul li {
  display: inline;
}
/* line 305, ../../../components/sass/_modules.scss */
.wrapper .bigheader .navcontainer ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #001d30;
}
/* line 312, ../../../components/sass/_modules.scss */
.wrapper .bigheader .navcontainer a {
  position: relative;
  text-decoration: none;
}
/* line 317, ../../../components/sass/_modules.scss */
.wrapper .bigheader .navcontainer a:hover::after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  border: 1px solid black;
}

/* line 330, ../../../components/sass/_modules.scss */
.featureddrivers {
  background: #8D8862;
  border-top: 20px solid #E3C691;
  border-bottom: 50px solid #507356;
  box-sizing: initial;
}
/* line 336, ../../../components/sass/_modules.scss */
.featureddrivers h1 {
  font-size: 3em;
  color: black;
}
@media (max-width: 700px) {
  /* line 336, ../../../components/sass/_modules.scss */
  .featureddrivers h1 {
    font-size: 2em;
  }
}
/* line 344, ../../../components/sass/_modules.scss */
.featureddrivers h2 {
  margin-top: 20px;
  font-size: 1.8em;
  color: #dbb570;
}
@media (max-width: 700px) {
  /* line 344, ../../../components/sass/_modules.scss */
  .featureddrivers h2 {
    display: none;
  }
}
/* line 353, ../../../components/sass/_modules.scss */
.featureddrivers p {
  color: #314634;
}
/* line 357, ../../../components/sass/_modules.scss */
.featureddrivers .driverlist {
  padding-bottom: 20px;
}
/* line 360, ../../../components/sass/_modules.scss */
.featureddrivers .driverlist h2 {
  margin-top: 5px;
  font-size: 1.2em;
  color: #ebd7b2;
}
/* line 366, ../../../components/sass/_modules.scss */
.featureddrivers .driverlist .item {
  min-width: 95px;
  color: #6f6b4d;
  width: 18%;
  float: left;
  padding: 1%;
  text-align: center;
  position: relative;
}
/* line 375, ../../../components/sass/_modules.scss */
.featureddrivers .driverlist .item > img {
  max-width: 130px;
  margin: 0 auto;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
}

/* line 386, ../../../components/sass/_modules.scss */
.potterypix {
  background: url("../images/backgrounds/pottery_workshop.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-bottom: 50px solid #8D8862;
}
@media (min-width: 801px) {
  /* line 386, ../../../components/sass/_modules.scss */
  .potterypix {
    height: 350px;
  }
}
@media (max-width: 800px) {
  /* line 386, ../../../components/sass/_modules.scss */
  .potterypix {
    height: 150px;
  }
}
@media (max-width: 300px) {
  /* line 386, ../../../components/sass/_modules.scss */
  .potterypix {
    height: 100px;
  }
}

/* line 392, ../../../components/sass/_modules.scss */
.aboutvenue img {
  float: right;
}

/* line 397, ../../../components/sass/_modules.scss */
.workshoppix {
  background: url("../images/backgrounds/woodworking_workshop.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-bottom: 50px solid #8D8862;
}
@media (min-width: 801px) {
  /* line 397, ../../../components/sass/_modules.scss */
  .workshoppix {
    height: 350px;
  }
}
@media (max-width: 800px) {
  /* line 397, ../../../components/sass/_modules.scss */
  .workshoppix {
    height: 150px;
  }
}
@media (max-width: 300px) {
  /* line 397, ../../../components/sass/_modules.scss */
  .workshoppix {
    height: 100px;
  }
}

/* line 403, ../../../components/sass/_modules.scss */
.ontour h1 {
  color: #4d354c;
  font-size: 3em;
  bottom: 10px;
  right: 10%;
}
/* line 410, ../../../components/sass/_modules.scss */
.ontour h2 {
  font-size: 1.8em;
  color: #8D8862;
  border-top: 1px solid #8D8862;
  padding-top: 5px;
}
/* line 417, ../../../components/sass/_modules.scss */
.ontour h3 {
  font-size: 1.3em;
  color: #6b4a69;
  padding-bottom: 5px;
}
/* line 423, ../../../components/sass/_modules.scss */
.ontour img {
  float: right;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding-left: 20px;
  width: 20%;
  min-width: 120px;
  max-width: 160px;
}

/* line 433, ../../../components/sass/_modules.scss */
.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

/* line 444, ../../../components/sass/_modules.scss */
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* footer left*/
/* line 454, ../../../components/sass/_modules.scss */
.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

/* line 459, ../../../components/sass/_modules.scss */
.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

/* line 467, ../../../components/sass/_modules.scss */
.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 475, ../../../components/sass/_modules.scss */
.footer .icons {
  margin-top: 25px;
}

/* line 479, ../../../components/sass/_modules.scss */
.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* footer center*/
/* line 497, ../../../components/sass/_modules.scss */
.footer .footer-center {
  width: 30%;
}

/* line 501, ../../../components/sass/_modules.scss */
.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

/* line 514, ../../../components/sass/_modules.scss */
.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

/* line 519, ../../../components/sass/_modules.scss */
.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

/* line 526, ../../../components/sass/_modules.scss */
.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

/* line 533, ../../../components/sass/_modules.scss */
.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}

/* footer right*/
/* line 541, ../../../components/sass/_modules.scss */
.footer .footer-right {
  width: 35%;
}

/* line 545, ../../../components/sass/_modules.scss */
.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

/* line 552, ../../../components/sass/_modules.scss */
.footer h2 span {
  color: #0099ff;
}

/* line 556, ../../../components/sass/_modules.scss */
.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

/* line 562, ../../../components/sass/_modules.scss */
.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

/* line 569, ../../../components/sass/_modules.scss */
.footer .menu a:hover {
  color: #0099ff;
}

/* line 573, ../../../components/sass/_modules.scss */
.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  /* line 581, ../../../components/sass/_modules.scss */
  .footer {
    font-size: 14px;
  }

  /* line 584, ../../../components/sass/_modules.scss */
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  /* line 592, ../../../components/sass/_modules.scss */
  .footer .footer-center i {
    margin-left: 0;
  }
}
/* line 1, ../../../components/sass/_sliderstyle.scss */
.slider {
  height: 400px;
  margin: 0px auto;
  position: relative;
}
/* line 8, ../../../components/sass/_sliderstyle.scss */
.slider .slide1, .slider .slide2, .slider .slide3, .slider .slide4, .slider .slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 13, ../../../components/sass/_sliderstyle.scss */
.slider .slide1 {
  background: url("../images/backgrounds/driving_green.png") no-repeat center;
  background-size: cover;
  animation: fade 8s infinite;
  -webkit-animation: fade 8s infinite;
}
/* line 20, ../../../components/sass/_sliderstyle.scss */
.slider .slide2 {
  background: url("../images/backgrounds/woman_keys.png") no-repeat center;
  background-size: cover;
  animation: fade2 8s infinite;
  -webkit-animation: fade2 8s infinite;
}
/* line 26, ../../../components/sass/_sliderstyle.scss */
.slider .slide3 {
  background: url("../images/backgrounds/green_road.png") no-repeat center;
  background-size: cover;
  animation: fade3 8s infinite;
  -webkit-animation: fade3 8s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 4, ../../../components/sass/_pixgrid.scss */
.pixgrid img {
  max-width: 90px;
  display: block;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 0 5px 5px 0;
  cursor: url(../images/misc/magnifying_glass.png), auto;
}
/* line 12, ../../../components/sass/_pixgrid.scss */
.pixgrid .preview img {
  padding: 0;
}

/* line 4, ../../../components/sass/_rclick.scss */
.rclick .item {
  display: block;
  float: left;
}
/* line 7, ../../../components/sass/_rclick.scss */
.rclick .item img {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
}
/* line 12, ../../../components/sass/_rclick.scss */
.rclick .preview {
  position: relative;
}
/* line 15, ../../../components/sass/_rclick.scss */
.rclick .preview img {
  position: absolute;
  z-index: 90;
  max-width: 400px;
  display: block;
  border: 1px solid #FCF4DC;
  margin: 0;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  -moz-box-shadow: black 5px 5px 12px;
  -webkit-box-shadow: black 5px 5px 12px;
  box-shadow: black 5px 5px 12px;
}
