@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
/* line 3, ../../../components/sass/_base.scss */
body {
  background: white;
  font-family: "Inika", serif;
  font-size: 1.1em;
}

/* line 9, ../../../components/sass/_base.scss */
#content {
  color: #CC8E94;
  font-size: 2em;
}

/* line 14, ../../../components/sass/_base.scss */
.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
/* line 29, ../../../components/sass/_mixins.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", sans-serif;
  font-size: 3em;
}

/* line 26, ../../../components/sass/_base.scss */
h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #507356;
}
@media (max-width: 700px) {
  /* line 26, ../../../components/sass/_base.scss */
  h1 {
    font-size: 2.2em;
  }
}

/* line 36, ../../../components/sass/_base.scss */
h2 {
  font-size: 1.5em;
  color: #3E2B3D;
}

/* line 41, ../../../components/sass/_base.scss */
p {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #3E2B3D;
  margin-bottom: 20px;
  margin-top: 15px;
}

/* line 49, ../../../components/sass/_base.scss */
section {
  padding: 0px 0;
}

/* line 29, ../../../components/sass/_mixins.scss */
.artgroup:after {
  content: "";
  display: table;
  clear: both;
}

/* line 3, ../../../components/sass/_modules.scss */
.city {
  background: url("../images/backgrounds/seattle_skyline.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (min-width: 801px) {
  /* line 3, ../../../components/sass/_modules.scss */
  .city {
    height: 350px;
  }
}
@media (max-width: 800px) {
  /* line 3, ../../../components/sass/_modules.scss */
  .city {
    height: 150px;
  }
}
@media (max-width: 300px) {
  /* line 3, ../../../components/sass/_modules.scss */
  .city {
    height: 100px;
  }
}
/* line 5, ../../../components/sass/_modules.scss */
.city img.logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  max-width: 450px;
  min-width: 250px;
}

/* line 15, ../../../components/sass/_modules.scss */
.smallheader {
  background: darkseagreen;
  font-size: 1em;
}

/* line 20, ../../../components/sass/_modules.scss */
.bigheader {
  background: white;
}
/* line 23, ../../../components/sass/_modules.scss */
.bigheader .navcontainer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
/* line 29, ../../../components/sass/_modules.scss */
.bigheader .navcontainer ul li {
  display: inline;
}
/* line 33, ../../../components/sass/_modules.scss */
.bigheader .navcontainer ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: black;
}

/* line 43, ../../../components/sass/_modules.scss */
.featureddrivers {
  background: #8D8862;
  border-top: 20px solid #E3C691;
  border-bottom: 50px solid #507356;
}
/* line 48, ../../../components/sass/_modules.scss */
.featureddrivers h1 {
  font-size: 3em;
  color: #263729;
}
@media (max-width: 700px) {
  /* line 48, ../../../components/sass/_modules.scss */
  .featureddrivers h1 {
    font-size: 2em;
  }
}
/* line 56, ../../../components/sass/_modules.scss */
.featureddrivers h2 {
  margin-top: 20px;
  font-size: 1.8em;
  color: #dbb570;
}
@media (max-width: 700px) {
  /* line 56, ../../../components/sass/_modules.scss */
  .featureddrivers h2 {
    display: none;
  }
}
/* line 65, ../../../components/sass/_modules.scss */
.featureddrivers p {
  color: #314634;
}
/* line 69, ../../../components/sass/_modules.scss */
.featureddrivers .driverlist {
  padding-bottom: 20px;
}
/* line 72, ../../../components/sass/_modules.scss */
.featureddrivers .driverlist h2 {
  margin-top: 5px;
  font-size: 1.2em;
  color: #ebd7b2;
}
/* line 78, ../../../components/sass/_modules.scss */
.featureddrivers .driverlist .item {
  min-width: 95px;
  color: #6f6b4d;
  width: 18%;
  float: left;
  padding: 1%;
  text-align: center;
  position: relative;
}
/* line 87, ../../../components/sass/_modules.scss */
.featureddrivers .driverlist .item > img {
  max-width: 130px;
  margin: 0 auto;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
}

/* line 98, ../../../components/sass/_modules.scss */
.potterypix {
  background: url("../images/backgrounds/pottery_workshop.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-bottom: 50px solid #8D8862;
}
@media (min-width: 801px) {
  /* line 98, ../../../components/sass/_modules.scss */
  .potterypix {
    height: 350px;
  }
}
@media (max-width: 800px) {
  /* line 98, ../../../components/sass/_modules.scss */
  .potterypix {
    height: 150px;
  }
}
@media (max-width: 300px) {
  /* line 98, ../../../components/sass/_modules.scss */
  .potterypix {
    height: 100px;
  }
}

/* line 104, ../../../components/sass/_modules.scss */
.aboutvenue img {
  float: right;
}

/* line 109, ../../../components/sass/_modules.scss */
.workshoppix {
  background: url("../images/backgrounds/woodworking_workshop.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-bottom: 50px solid #8D8862;
}
@media (min-width: 801px) {
  /* line 109, ../../../components/sass/_modules.scss */
  .workshoppix {
    height: 350px;
  }
}
@media (max-width: 800px) {
  /* line 109, ../../../components/sass/_modules.scss */
  .workshoppix {
    height: 150px;
  }
}
@media (max-width: 300px) {
  /* line 109, ../../../components/sass/_modules.scss */
  .workshoppix {
    height: 100px;
  }
}

/* line 115, ../../../components/sass/_modules.scss */
.ontour h1 {
  color: #4d354c;
  font-size: 3em;
  bottom: 10px;
  right: 10%;
}
/* line 122, ../../../components/sass/_modules.scss */
.ontour h2 {
  font-size: 1.8em;
  color: #8D8862;
  border-top: 1px solid #8D8862;
  padding-top: 5px;
}
/* line 129, ../../../components/sass/_modules.scss */
.ontour h3 {
  font-size: 1.3em;
  color: #6b4a69;
  padding-bottom: 5px;
}
/* line 135, ../../../components/sass/_modules.scss */
.ontour img {
  float: right;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding-left: 20px;
  width: 20%;
  min-width: 120px;
  max-width: 160px;
}

/* line 1, ../../../components/sass/_sliderstyle.scss */
.slider {
  height: 350px;
  margin: 0px auto;
  position: relative;
}
/* line 8, ../../../components/sass/_sliderstyle.scss */
.slider .slide1, .slider .slide2, .slider .slide3, .slider .slide4, .slider .slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 13, ../../../components/sass/_sliderstyle.scss */
.slider .slide1 {
  background: url("../images/backgrounds/pottery_finished.jpg") no-repeat center;
  background-size: cover;
  animation: fade 8s infinite;
  -webkit-animation: fade 8s infinite;
}
/* line 20, ../../../components/sass/_sliderstyle.scss */
.slider .slide2 {
  background: url("../images/backgrounds/pottery_workshop.jpg") no-repeat center;
  background-size: cover;
  animation: fade2 8s infinite;
  -webkit-animation: fade2 8s infinite;
}
/* line 26, ../../../components/sass/_sliderstyle.scss */
.slider .slide3 {
  background: url("../images/backgrounds/seattle_skyline.jpg") no-repeat center;
  background-size: cover;
  animation: fade3 8s infinite;
  -webkit-animation: fade3 8s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 4, ../../../components/sass/_pixgrid.scss */
.pixgrid img {
  max-width: 90px;
  display: block;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 0 5px 5px 0;
  cursor: url(../images/misc/magnifying_glass.png), auto;
}
/* line 12, ../../../components/sass/_pixgrid.scss */
.pixgrid .preview img {
  padding: 0;
}

/* line 4, ../../../components/sass/_rclick.scss */
.rclick .item {
  display: block;
  float: left;
}
/* line 7, ../../../components/sass/_rclick.scss */
.rclick .item img {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
}
/* line 12, ../../../components/sass/_rclick.scss */
.rclick .preview {
  position: relative;
}
/* line 15, ../../../components/sass/_rclick.scss */
.rclick .preview img {
  position: absolute;
  z-index: 90;
  max-width: 400px;
  display: block;
  border: 1px solid #FCF4DC;
  margin: 0;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  -moz-box-shadow: black 5px 5px 12px;
  -webkit-box-shadow: black 5px 5px 12px;
  box-shadow: black 5px 5px 12px;
}
